---
layout: default
title: "About"
description: "Hey, this is George."
header-img: "img/about-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header full-screen" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Chinese Version -->
<div class="container about">
    <div class="zh about-container">
        <h3>无趣的人</h3>
        <hr/>
        <p>Works Applications前端工程师</p>
        <p class="detail">有点污辱工程师了</p>
        <p>在东京苟活</p>
        <p class="detail">想回国</p>
        <p>重度Dota2、PS4玩家</p>
        <p class="detail">卡尔王</p>
    </div>
</div>


