---
layout: default
title: Portfolio
description: "程序路上的辛酸苦辣。"
header-img: "img/portfolio-bg.jpg"
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <hr/>
    <div style="height:300px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/20s.jpg" class="img-thumbnail" style="height:300px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">是男人就坚持二十秒</h2>
            <h3 class="portfolio-subtitle">Python / Unity C#，独立开发。2013/12 - 2014/01</h3>
            <p>大学Python课程期末大作业，是一个用Pygame编写的游戏。玩家需要操作飞机躲避四周飞来的子弹，坚持到20秒即过关。随着时间增加，子弹的速度和数量会增加。<br/>腾讯实习期间将此游戏用Unity实现了一遍，代码复杂度降低并且可以定制每一波子弹的各个参数，增加了碰撞时产生的爆炸特效，成为了我使用Unity平台制作的一个成品。</p>
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">同去iOS App</h2>
            <h3 class="portfolio-subtitle">iOS客户端开发，Swift。2014/06 - 2014/08</h3>
            <p>同去网是一个上海交通大学活动信息平台，可以让各大院系社团组织在上面发布活动。现在已经推出了网页版，iOS版和安卓版。<br/>我参与开发了iOS客户端，已经在App Store中上线。<br/>我们使用的是Swift语言，也是上海交通大学第一个使用Swift语言开发的应用。</p>
            <a href="https://itunes.apple.com/cn/app/tong-qu-wang/id933524040?mt=8">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/tongqu.jpg" class="img-thumbnail" style="height:300px">
        </div>
    </div>

    <hr/>
    <div style="height:350px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/crossy.png" class="img-thumbnail" style="height:350px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">交汇Crossy iOS App</h2>
            <h3 class="portfolio-subtitle">iOS客户端开发，Swift。2014/11 - 2015/02</h3>
            <p>交汇App是上海交通大学的信息汇聚平台，包括活动信息(链接至同去App)，校车信息，校园一卡通信息，图书馆书籍信息以及教务信息等。其中，校园一卡通信息可以查阅到具体某一笔交易的数额，地点，也能够为每一位用户生成月账单。教务信息能够计算出学积分与GPA，提供入学至今成绩走势图以及等级分布图。目前App的月活跃用户大约有3000。<br/>本应用iOS客户端为独立开发，已经在App Store中上线。<br/>使用的是Swift语言。</p>
            <a href="https://itunes.apple.com/cn/app/jiao-huicrossy-jiao-da-sheng/id1019173353?mt=8">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">交汇Crossy 移植ARM平台</h2>
            <h3 class="portfolio-subtitle">Cortex-M3 Board。2015/04 - 2015/06</h3>
            <p>将交汇Crossy移植到ARM平台，其中电脑端作为上位机，使用Python与后台API进行交互。得到的内容使用UART传输给ARM实验板，最终在实验板上呈现出来。同时利用实验板本身的功能，制作数码管显示成绩与智能报音。<br/>本项目为开源项目，代码可以在Github中找到。</p>
            <a href="https://github.com/gougoumemeda/Crossy_Cortex-M3">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/arm.jpg" class="img-thumbnail" style="height:300px">
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/os.jpg" class="img-thumbnail" style="height:300px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">操作系统调度器和页置换的模拟</h2>
            <h3 class="portfolio-subtitle">独立开发。2015/04 - 2015/06</h3>
            <p>操作系统课程设计。<br/>调度器使用Round Robin算法，来模拟各个进程的上下文切换。同时内存中相应的页也要进行替换，使用的算法包括FIFO和LRU。由于题目提前告知了我们使用的内存地址，因此我扩展使用了OPT算法。最终项目得到了满分。</p>
        </div>
    </div>

    <hr/>
    <div style="height:350px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">2015 IGEM网站 - BASE</h2>
            <h3 class="portfolio-subtitle">网页，独立开发。2015/07 - 2015/09</h3>
            <p>此网站为2015年IGEM上海交通大学软件队的参赛作品，是专门为生物学的学生和专家量身定制的工具。他们可以搜素，构建，比较和上传任意的生物砖，当然我们也会为他们构建的生物砖进行打分并且给出自己的建议。<br/>操作页面人性化，构建时只需要拖动各个部件即可，系统会自动将他们组合在一起。<br/>前端使用jQuery编写，后台使用的是PHP语言。同时在后台与数据库之间我们添加了一层Perl脚本，避免PHP对数据库的直接读取。</p>
            <a href="http://www.igembase.com">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="https://github.com/igemsoftware/SJTU-Software2015">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/igem.png" class="img-thumbnail" style="height:350px">
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/tel.png" class="img-thumbnail" style="height:300px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">触宝电话 - React Native的研究</h2>
            <h3 class="portfolio-subtitle">iOS客户端开发，React Native。2015/06 - 2015/09</h3>
            <p>触宝电话是上海触乐公司研发的产品，超过3亿人使用的通讯APP。我在触乐科技公司实习期间，研究React-Native，使用React-Native将触宝电话黄页(发现)的页面重现出来。并且将重现后的代码插入到Native代码中，使得两者兼容。<br/>同时将React-Native的使用方式，植入方式和注意事项整理成文档发放给公司员工，以供他们学习。</p>
            <a href="https://itunes.apple.com/cn/app/chu-bao-dian-hua/id503130474?mt=8">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">2015 微软Penta Hackathon</h2>
            <h3 class="portfolio-subtitle">网页，前端开发。2015/11 - 2015/11</h3>
            <p>黑客马拉松项目，根据人的面部表情自动播放相应情绪的歌曲。最终进入评审12强。<br/>识别面部使用Oxford Project来做，得到不同情绪相应的数据，然后通过机器学习，将情绪归类到不同音乐的不同类别，最后通过网易云音乐的API来播放音乐。此外会根据用户听完后的反馈改进机器学习的参数。</p>
            <a href="https://coding.net/u/mrmiywj/p/emotion-music/git">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/hackathon.jpg" class="img-thumbnail" style="height:300px">
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/zhihu.png" class="img-thumbnail" style="height:300px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">知乎看图</h2>
            <h3 class="portfolio-subtitle">Chrome插件，独立开发。2015/11 - 2015/11</h3>
            <p>这是一个chrome插件，能够过滤掉知乎网页上任意一个问题下回答的文字信息，用jQuery写成。使用时只需要在一个问题中点击插件的图标，这个问题中的所有文字都会过滤掉，只留下图片信息。<br/>知乎的图片使用了延时加载，在页面显示范围内的图片才会被加载，我移除了这项技术，直接读取图片。</p>
            <a href="https://github.com/gougoumemeda/ZhihuPictureRelease">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>  
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">iOS系统下智能⼩小⻋车控制和视频传输</h2>
            <h3 class="portfolio-subtitle">iOS客户端开发。2015/10 - 2016/12</h3>
            <p>工科创3C项目，使用iOS系统写一个控制器，通过蓝牙控制小车的行走。同时，小车上绑定另一台苹果手机，开启摄像头捕捉画面，并且将画面使用socket传输回控制器。<br/>蓝牙使用CoreBluetooth模块，socket传输画面使用UDP协议。<br/>最终项目得到95分。</p>
            <a href="https://github.com/gougoumemeda/SJTU_3C_IOS">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/3c.png" class="img-thumbnail" style="height:300px">
        </div>
    </div>

    <hr/>
    <div style="height:350px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/glow.png" class="img-thumbnail" style="height:350px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">Glow Baby iOS App</h2>
            <h3 class="portfolio-subtitle">iOS客户端开发。2016/01 - 2016/03</h3>
            <p>Glow Baby是Glow公司开发的第四款应用，为父母提供对宝宝最全面的关怀。在Glow公司实习期间，为Glow Baby添加Log，记录了所有Button按键和页面切换事件，并且将记录发送到服务端，给Data Team进行分析。并且添加Insight，主要是当前宝宝和所有宝宝数据之间的对比，包括喝水平均量，睡眠平均时间等。同时完善了大量代码注释以及文档。<br/>此外，实习过程中修复了Nurture中和Notification相关的bug，也增加了链接到facebook和twitter的Notification。</p>
            <a href="https://itunes.apple.com/cn/app/glow-baby-breastfeeding-pump/id1077177456?mt=8">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>

    <hr/>
    <div style="height:400px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">SJTU Lost</h2>
            <h3 class="portfolio-subtitle">网页，独立开发。2016/04 - 2016/06</h3>
            <p>数据库课程设计大作业。<br/>SJTU Lost是一个上海交通大学失物招领平台，任何交大的学生，如果丢失了东西或者拾到了东西，都可以在这个网上发布出来。同时，用户可以根据关键字搜索信息，支持空格连接关键字的与搜索和|符号连接关键字的或搜索，也可以根据地点和物品类别来过滤掉一些信息。为了鼓励大家拾金不昧，增加了一个拾物排行榜，会把大家拾到物品的次数公布出来并且从多到少进行排序。用户在个人页面也可以查到自己丢失过的东西和拾到过的东西。<br/>代码方面，登录使用的是Jaccount系统，遵循OAuth2.0协议。前端使用ReactJS+Flux完成，后台使用Django。目前网页还没有上线，但已经开源。</p>
            <a href="https://github.com/gougoumemeda/SJTULost">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/lost.jpeg" class="img-thumbnail" style="height:400px">
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/line-render.png" class="img-thumbnail" style="height:300px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">Line Renderer的实现与优化</h2>
            <h3 class="portfolio-subtitle">脚本，工具，Unity。2016/07 - 2016/07</h3>
            <p>腾讯实习做的第一个小工具，之前在博客中也详细的介绍过了。<br/>工具使用C#写成，实现了和系统Line Renderer一样的功能，并且通过手动Batch的方式，大大减少了Draw Call的耗时，优化了性能。大约比系统自带的Line Renderer快了190倍。</p>
        </div>
    </div>

    <hr/>
    <div style="height:300px">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">使用Shader实现任意曲线的颜色渐变和纹理移动</h2>
            <h3 class="portfolio-subtitle">脚本，工具，Unity。2016/08 - 2016/08</h3>
            <p>腾讯实习做的第二个小工具，博客中也有详细的思路与实现。<br/>Material Editor部分用C#写成，Shader使用CG语言完成。美术可以在Material Inspector界面绘制任意曲线以及增减Keyframe的个数，来控制颜色的渐变和纹理的平移，这是Unity本身不能做到的事情。另一个方法实现这样的效果是使用Animation，但耗时大约是本方法的2倍，同时也不够灵活。</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/in-portfolio/curve.png" class="img-thumbnail" style="height:300px">
        </div>
    </div>
</div>

