---
layout: default
title: Portfolio
description: "程序路上的辛酸苦辣。"
header-img: "img/portfolio-bg.jpg"
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <hr/>
    <div style="height:300px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/img/portfolio-bg.jpg" class="img-thumbnail" style="height:300px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="portfolio-title">是男人就坚持二十秒</h1>
            <h3 class="portfolio-subtitle">Python / Unity C#，独立开发</h2>
        </div>
    </div>
</div>

